#top_left {
    position: absolute;
    top: 10px;
    left: 10px;
}

#top_right {
    position: absolute;
    top: 10px;
    right: 10px;
}

span {
    padding: 5px;
}

img {
    display: block;
    margin: auto;
    margin-top: 20%;
}



#buttons {
    text-align: center;
    display: block;
}

p {
    text-align: center;
}
